[user]
	name = Billy Charlton
	email = billy@okbecause.com
[pull]
	rebase = true
[push]
	default = simple

[alias]
	logg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

